<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Quản Lý Đăng Kiểm</title>

    <!-- liên kết css -->
    <link
      href="stylesheets/vendor/css/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="stylesheets/vendor/img/logo.jpg"
    />
    <!-- liên kết bootstrap css -->
    <link
      href="stylesheets/vendor/bootstrap/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="stylesheets/vendor/bootstrap/bootstrap.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="stylesheets/vendor/bootstrap/bootstrap-datetimepicker.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- liên kết datatable css -->
    <link
      href="stylesheets/vendor/datatable/dataTables.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- liên kết font css -->
    <link
      rel="stylesheet"
      href="stylesheets/vendor/fontawesome/css/all.min.css"
    />
    <link
      href="stylesheets/vendor/datatable/buttons.dataTables.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="stylesheets/vendor/datatable/select.dataTables.css"
      rel="stylesheet"
      type="text/css"
    />

    <style>
      a {
        color: black;
      }
      img {
        max-width: 100%;
      }
      .para {
        padding-top: 3.6em;
      }
      i {
        cursor: pointer;
      }
      .users:hover .user {
        display: block;
      }

      .user {
        display: none;
        position: absolute;
        float: right;
        z-index: 1;
        right: 2%;
        top: 30px;
        background-color: white;
        padding: 5px;
        color: #046b7b;
        width: 15rem;
        box-shadow: rgba(0, 0, 0, 0.05) 2px 3px 3px;
      }
      @media screen and (max-width: 768px) {
        .user {
          display: none;
          position: absolute;
          float: left;
          z-index: 10;
          right: 0%;
          top: -0.5em;
          width: 15rem;
        }
      }
    </style>
    <title>Home</title>
  </head>

  <body class="para">
    <%- include('header'); -%>
    <div style="height: 4em"></div>
    <% if (user) { %>
    <h1>Hello, <%= user.account %></h1>
    <% } %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Họ tên</th>
          <th scope="col">Hình thức</th>
          <th scope="col">Nhãn hiệu</th>
          <th scope="col">Ngày cũ Đăng kiểm</th>
          <th scope="col">Ngày mới Đăng kiểm</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(row => { %>
        <tr>
          <td><%=row.id %></td>
          <td><%=row.ten %></td>
          <td><%=row.type %></td>
          <td><%=row.nhanHieu %></td>
          <td><%=row.ngayCuGiayDK %></td>
          <td><%=row.ngayMoiGiayDK %></td>
          <td>
            <a href="/home/<%= row.id %>">Giấy đăng kiểm</a>
          </td>
        </tr>
        <%}); %>
      </tbody>
    </table>
    <%- include('footer'); -%>
  </body>
</html>
